/* line 3, ../../src/sass/scorePill.scss */
.scorePill {
  height: 50px;
}

/* line 7, ../../src/sass/scorePill.scss */
.score {
  stroke: #FFFFFF;
  fill: transparent;
  x: -2;
}

/* line 13, ../../src/sass/scorePill.scss */
.scoreBg {
  fill: #cccccc;
}

/* line 17, ../../src/sass/scorePill.scss */
.score3 {
  fill: #FF822E;
}

/* line 21, ../../src/sass/scorePill.scss */
.score2 {
  fill: #FF822E;
}

/* line 25, ../../src/sass/scorePill.scss */
.score1 {
  fill: #FF822E;
}

/* line 29, ../../src/sass/scorePill.scss */
.score0 {
  fill: #FF822E;
}

/* line 33, ../../src/sass/scorePill.scss */
text {
  fill: #666666;
  text-anchor: middle;
  font-family: helvetica, arial, sans-serif;
}
/* line 38, ../../src/sass/scorePill.scss */
text.code {
  font-family: Courier, monospace;
}
/* line 42, ../../src/sass/scorePill.scss */
text.words {
  font-family: helvetica, arial, sans-serif;
}

/* line 48, ../../src/sass/scorePill.scss */
g path {
  stroke: 0;
  fill: #666666;
}
