
<svg-circle size="50" stroke="black" fill="blue"></svg-circle>
<ul>
  <li>
    <a ui-sref="vc">vc</a>
  </li>
  <li>
    <a ui-sref="vc.items">vc.items</a>
  </li>
  <li>
    <a ui-sref="vc.items.detail">vc.items.detail</a>
  </li>
  <li>
    <a ui-sref="vc.items.detail-notes">vc.items.detail-notes</a>
  </li>
  <li>
    <a ui-sref="vc.items.detail-selected">vc.items.selected</a>
  </li>
  <li>
    <a ui-sref="vc.items.detail-notes-selected">vc.items.notes-selected</a>
  </li>
  <li>
    <a ui-sref="vc.selections">vc.selections</a>
  </li>
  <li>
    <a ui-sref="vc.selections-finished">vc.selections-finished</a>
  </li>
</ul>
